.S1Routine {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 56px 1fr;
  grid-template-areas:
    "bodyHeader"
    "bodyContent";
  width: 100%;
  height: 100%;
}
.S1RoutineHeader {
  grid-area: bodyHeader;
}
.S1RoutineContent {
  grid-area: bodyContent;
  overflow: scroll;
}

.S1RoutineContent::-webkit-scrollbar {
  display: none;
}
