.card {
  width: 180px;
  height: 88px;
  min-height: 70px;
  max-height: 100%;
  background: #ffffff;
  border: 2px solid #f9f9f9;
  box-shadow: 0px 4px 10px #d1d9e6;
  border-radius: 8px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card__font {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  opacity: 0.68;

  color: rgba(0, 0, 0, 0.68);
}
