.row2 {
  height: 55px;

  background: white;
  border-radius: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}
.S2row2__cell1 {
  height: 15px;
  flex:1;
  
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  
  color: rgba(0, 0, 0, 0.76);
}
.S2row2__dob {
  width: 71px;
  height: 16px;
  
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  
  color: rgba(0, 0, 0, 0.8);
  
  opacity: 0.7;
}

.S2row2__cell2 {
  height: 19px;
  flex:1;
  
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  
  color: rgba(0, 0, 0, 0.8);
}

.S2row2__cell4 {
  flex:1;
  height: 32px;
  width: 81px;
  background: rgba(255, 158, 158, 0.8);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.S2row2__cell4__text {
  text-align: center;
  
  height: 16px;
  
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: capitalize;
  
  color: rgba(0, 0, 0, 0.8);
}

.S2row2__cell5 {
  flex:0.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.S2row2__cell5_1 {
  background-image: url("../../../AllIcons/bigCircle.png") no-repeat;
  margin: 0px 10px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background: #ffffff;
  border: 2px solid #ffffff;
  box-shadow: 8px 8px 16px rgba(209, 217, 230, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
