.row1 {
  height: 55px;

  background: #f9f7fd;
  border-radius: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px ;
}

.row1__name {
  height: 15px;
 flex:1;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  text-transform: uppercase;

  color: #3981e9;
}
.row1__name__dob{
width: 33px;
height: 16px;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
/* text-transform: uppercase; */

color: #3981E9;
}
.row1__status{
  flex:0.5;
}